/* MAIN */

.main-container {
    position: relative;
    width: 1512px;
    height: 982px;
    overflow-y: scroll;
    background: #FFFFFF;
  }
  
  /* 세대 통합을 위한 밈번역기 */
  
  .mem-translate {
    position: absolute;
    width: 336px;
    height: 52px;
    left: 692px;
    top: 512px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  /* image 15 */
  
  .image15 {
    position: absolute;
    width: 300px;
    height: 47.15px;
    left: 617px;
    top: 65px;
    background: url(../mainImg/image\ 15.png);
  }
  
  /* Line 6 */
  
  .line6 {
    position: absolute;
    width: 1476.19px;
    height: 0px;
    left: 13px;
    top: 704px;
    border: 1px solid #ABABAB;
  }
  
  /* Line 9 */
  
  .line9 {
    position: absolute;
    width: 488.23px;
    height: 0px;
    left: 1015px;
    top: 1256.23px;
    border: 1px solid #ABABAB;
    transform: rotate(-90deg);
  }
  
  /* Line 10 */
  
  .line10 {
    position: absolute;
    width: 488.23px;
    height: 0px;
    left: 502px;
    top: 1256.23px;
    border: 1px solid #ABABAB;
    transform: rotate(-90deg);
  }
  
  /* Group 21 */
  
  .group21 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1170px;
    top: 816px;
  }
  
  /* dictionary 1 */
  
  .dictionary1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1170px;
    top: 816px;
    background: url(../mainImg/dictionary\ 1.png);
  }
  
  /* Group 20 */
  
  .group20 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 652px;
    top: 780px;
  }
  
  /* speech-bubble 1 */
  
  .speech-bubble1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 652px;
    top: 780px;
    background: url(../mainImg/speech-bubble\ 1.png);
  }
  
  /* Group 19 */
  
  .group19 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 145px;
    top: 810px;
  }
  
  /* exam 1 */
  
  .exam1 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 145px;
    top: 810px;
    background: url(../mainImg/exam\ 1.png);
  }
  
  /* Group 18 */
  
  .group18 {
    position: absolute;
    width: 230px;
    height: 350.44px;
    left: 662px;
    top: 231px;
  }
  
  /* image 16 */
  
  .image16 {
    position: absolute;
    width: 180px;
    height: 34.44px;
    left: 692px;
    top: 547px;
    background: url(../mainImg/image\ 16.png);
  }
  
  /* transfer 1 */
  
  .transfer1 {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 662px;
    top: 231px;
    background: url(../mainImg/transfer\ 1.png);
  }
  
  /* Rectangle 19 */
  
  .rectangle19 {
    position: absolute;
    width: 308px;
    height: 76px;
    left: 99px;
    top: 1110px;
    background: rgba(0, 176, 240, 0.52);
    border-radius: 50px;
  }
  
  /* Rectangle 29 */
  
  .rectangle29 {
    position: absolute;
    width: 308px;
    height: 76px;
    left: 1098px;
    top: 1110px;
    background: rgba(0, 176, 240, 0.52);
    border-radius: 50px;
  }
  
  /* Rectangle 28 */
  
  .rectangle28 {
    position: absolute;
    width: 308px;
    height: 76px;
    left: 592px;
    top: 1110px;
    background: rgba(0, 176, 240, 0.52);
    border-radius: 50px;
  }
  
  /* Rectangle 27 */
  
  .rectangle27 {
    position: absolute;
    width: 225px;
    height: 10px;
    left: 1142px;
    top: 1083px;
    background: rgba(0, 176, 240, 0.38);
  }
  
  /* Rectangle 26 */
  
  .rectangle26 {
    position: absolute;
    width: 140px;
    height: 10px;
    left: 681px;
    top: 1088px;
    background: rgba(0, 176, 240, 0.38);
  }
  
  /* 신조어 맞추기 */
  
  .word-guess {
    position: absolute;
    width: 273px;
    height: 75px;
    left: 641px;
    top: 1124px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
  }
  
  /* #MZ어 따라잡기 */
  
  .mz-catch {
    position: absolute;
    width: 166px;
    height: 46px;
    left: 687px;
    top: 1080px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  /* MZ테스트 */
  
  .mz-test {
    position: absolute;
    width: 198px;
    height: 75px;
    left: 175px;
    top: 1126px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
  }
  
  /* Rectangle 25 */
  
  .rectangle25 {
    position: absolute;
    width: 132px;
    height: 10px;
    left: 187px;
    top: 1088px;
    background: rgba(0, 176, 240, 0.38);
  }
  
  /* # 나의 MZ력은? */
  
  .mz-power {
    position: absolute;
    width: 167px;
    height: 46px;
    left: 191px;
    top: 1080px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  /* 도감 */
  
  .dictionary {
    position: absolute;
    width: 198px;
    height: 75px;
    left: 1224px;
    top: 1124px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
  }
  
  /* #세대 간 소통을 위한 A to Z */
  
  .a-to-z {
    position: absolute;
    width: 285px;
    height: 46px;
    left: 1146px;
    top: 1080px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  